<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>What is Django URLs?</h1>
    <p>=> In Django, URLs (Uniform Resource Locators) are used to map web addresses to views, which are the 
        functions or classes that handle the requests and return responses.<br>
       => The URLs configuration in Django is managed using the urls.py file, where you define the URL patterns 
        for your application.
       => URLs are used to route users to the appropriate content or functionality when they visit a web 
        application.
    </p>
</body>
</html>