<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show Event</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous">
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
        <style>
            body{
                background-color: antiquewhite;
            }
            h1{
                color: midnightblue;
            }
        </style>
    </head>
    <body>
        <!-- Start Header -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

            <div class="container-fluid">
                <a class="navbar-brand" href="#">Digital Society</a>
                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDarkDropdown"
                    aria-controls="navbarNavDarkDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse"
                    id="navbarNavDarkDropdown">
                    <!-- Start Society Member Dropdown-->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn-dark dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Society Member
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item"
                                        href="/addmember">Add
                                        Member</a></li>
                                <li><a class="dropdown-item"
                                        href="/showmember">View
                                        Member</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End Society Member Dropdown-->

                    <!-- Start Notices Dropdown-->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn-dark dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Notices
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Add
                                        Notices</a></li>
                                <li><a class="dropdown-item" href="#">View
                                        Notices</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End Notices Dropdown-->

                    <!-- Start Transactions Dropdown-->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn-dark dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Transactions
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Add
                                        Transactions</a></li>
                                <li><a class="dropdown-item" href="#">View
                                        Transactions</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End Transactions Dropdown-->

                    <!-- Start Watchmans Dropdown-->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn-dark dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Watchmans
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Add
                                        Watchmans</a></li>
                                <li><a class="dropdown-item" href="#">View
                                        Watchmans</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End Watchmans Dropdown-->

                    <!-- Start Visitors Dropdown-->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn-dark dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Visitors
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Add
                                        Visitors</a></li>
                                <li><a class="dropdown-item" href="#">View
                                        Visitors</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End Visitors Dropdown-->

                    <!-- Start Events Dropdown-->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn-dark dropdown-toggle"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Events
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="#">Add
                                        Events</a></li>
                                <li><a class="dropdown-item" href="#">View
                                        Events</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- End Visitors Dropdown-->
                </div>
            </div>
        </nav>
        <!-- End Header -->

        <!-- Start Show Event Form  -->
        <center>
            <h1>Show Event</h1>
        </center>
        <hr>
        <br>
        <div class="container">
            <table class="table table-dark table-striped">
                <tr>
                    <th>Event Name</th>
                    <th>Event Details</th>
                    <th>Date Time</th>
                    <th>Mobile</th>
                    <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</th>
                </tr>

                {% for i in event %}
                <tr>
                    <td>{{i.eventname}}</td>
                    <td>{{i.eventdetail}}</td>
                    <td>{{i.datetime}}</td>
                    <td>{{i.mobile}}</td>
                    <td><a class="btn btn-warning" href="/updateevent/{{i.id}}">Update</a>
                        <a class="btn btn-danger" href="/deletevent/{{i.id}}">Delete</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <!-- End Show Event Form  -->
    </body>
</html>